<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en"
      lang="en" dir="ltr">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>
      {{ title }}
    </title>

    <meta name="robots" content="index,follow" />
    <script type="text/javascript" src="scripts/gears_init.js"></script>
    <script>
      if (!window.google || !google.gears) {
      location.href = "http://gears.google.com/?action=install&message=Gears est necessaire pour utiliser Fondation Toolkit, veuillez l'installer en cliquant sur le lien sur votre droite." +
      "&return=http://localhost:8080";
}
    </script>
    <script type="text/javascript">
      var localServer = google.gears.factory.create('beta.localserver');
      var store = localServer.createManagedStore('ftk-store');
      store.manifestUrl = 'site-manifest.txt';
      store.checkForUpdate();
    </script>
  </head>

  <body>
    <h1>Fondation Toolkit</h1>
    <a href="/html/plan.html">Fonctionnalit&eacute;s</a>
    <p>
    Ce script n&eacute;cessite :
    <ul>
      <li>Navigateur web Firefox : <a href="http://www.mozilla-europe.org/fr/firefox/">T&eacute;l&eacute;charger</a></li>
      <li>Extension Google Gears : <a href="http://gears.google.com/?action=install&message=Gears est necessaire pour utiliser Fondation Toolkit, veuillez l'installer en cliquant sur le lien sur votre droite." +
      "&return=http://localhost:8080">T&eacute;l&eacute;charger</a></li>
      <li>Extension Greasemonkey : <a href="https://addons.mozilla.org/fr/firefox/addon/748">T&eacute;l&eacute;charger</a></li>
    </ul>
    </p>
    <p>
    Une fois ces composants install&eacute;s, cliquez sur le lien suivant pour <a href="/tools/ftk.user.js">installer le script</a>.
    </p>
  </body>
</html>
